@model string 

<style>
    img {
        width: 450px;
        height: auto;
    }
</style>

<div class="alert alert-warning text-center" role="alert"> 
    <img src="https://www.publicdomainpictures.net/pictures/280000/velka/not-found-image-15383864787lu.jpg" alt="Alternative image" class="img-thumbnail">
    <h4 class="alert-heading">You are already in the team of LFC fans!</h4> 
    <p>@Model</p> 
    <a href="/" class="btn btn-primary mt-3">Go back to Home</a> 
</div>
