@using LiverpoolFanShop.Components
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Liverpool Fan Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LiverpoolFanShop.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Liverpool Fan Shop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @*await Component.InvokeAsync("MainMenuComponent");*@
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div style="display: flex; flex-direction: column; align-items: flex-start; padding-left: 10px;">
            <p style="margin: 0; font-weight: bold;">Contact us:</p>
            <div style="display: flex; flex-wrap: wrap; gap: 15px; margin-top: 5px;">
                <p style="margin: 0;">Phone: <a href="tel:+0888888888">0888 888888</a></p>
                <p style="margin: 0;">Email: <a href="mailto:admin@mail.bg">admin@mail.bg</a></p>
                <p style="margin: 0;">Instagram: <a href="https://instagram.com/_tsk_zahariev_">_tsk_zahariev_</a></p>
                <p style="margin: 0;">Address: Kyustendil, st.Hristo Botev №51</p>
            </div>
            <p style="margin-top: 10px;">&copy; @DateTime.Now.Year - YNWA Kaloyan Zahariev</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
