@using Microsoft.AspNetCore.Identity
@using LiverpoolFanShop.Infrastructure.Data.Models
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@using System.Security.Claims

@{
    string username = string.Empty;

    bool isAdmin = false;



    if (SignInManager.IsSignedIn(User))

    {

        username = User.FindFirstValue(LiverpoolFanShop.Infrastructure.Constants.CustomClaims.UserFullNameClaim) ?? string.Empty;

        isAdmin = User.IsInRole("Admin");

    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Liverpool Fan Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LiverpoolFanShop.styles.css" asp-append-version="true" />
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <a class="navbar-brand" href="/">Liverpool FC Fan Shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    @if (SignInManager.IsSignedIn(User))

                    {
                        <li class="nav-item d-flex align-items-center">

                            <a class="nav-link text-white" href="/Carts/Cart">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </li>
                        <li class="nav-item d-flex align-items-center">
                            <span class="navbar-text">Hello, @username!</span>
                        </li>
                        <li class="nav-item">
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" method="post">
                                <button type="submit" class="nav-link btn btn-link" style="color: white;">Logout</button>
                            </form>
                        </li>
                        @if (isAdmin)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/Admin/AddProduct">Add Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Admin/EditProduct">Edit Product</a>
                            </li>
                        }
                    }

                    else

                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    <div class="container" style="margin-top: 80px;">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    </div>

    @if (ViewData["HideFooter"] == null || !(bool)ViewData["HideFooter"])
    {
        <footer>
            <div style="display: flex; flex-direction: column; align-items: flex-start; padding-left: 10px;">
            <p style="margin: 0; font-weight: bold;">Contact us:</p>
            <div style="display: flex; flex-wrap: wrap; gap: 15px; margin-top: 5px;">
                <p style="margin: 0;">Phone: <a href="tel:+0888888888">0888 888888</a></p>
                <p style="margin: 0;">Email: <a href="mailto:admin@mail.bg">admin@mail.bg</a></p>
                <p style="margin: 0;">Instagram: <a href="https://instagram.com/_tsk_zahariev_">_tsk_zahariev_</a></p>
                <p style="margin: 0;">Address: Kyustendil, st.Hristo Botev №51</p>
            </div>
            <p style="margin-top: 10px;">&copy; @DateTime.Now.Year - YNWA Kaloyan Zahariev</p>
            </div>
        </footer>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
