@page
@using LiverpoolFanShop.Pages
@model Error500Model

<head>
    <link rel="stylesheet" href="~/css/errors/error500.css" />
</head>

<div class="container error-container text-center">
    <h1 class="display-4">500</h1>
    <p class="lead">Something went wrong on our end. Please try again later.</p>
    <a class="btn btn-custom" href="/">Go Back Home</a>
</div>
