@page
@using LiverpoolFanShop.Pages
@model Error404Model

<head>
    <link rel="stylesheet" href="~/css/errors/error404.css"/>
</head>

<div class="container error-container text-center">
    <h1 class="display-4">404</h1>
    <p class="lead">Oops! The page you're looking for doesn't exist.</p>
    <a class="btn btn-custom" href="/">Go Back Home</a>
</div>

